<section class="section-book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <form action="#" class="form">

          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Start booking now
            </h2>
          </div>

          <div class="form__group">
            <input id="name" type="text" class="form__input" placeholder="Full name" required>
            <label for="name" class="form__label">Full name</label>
          </div>

          <div class="form__group">
            <input id="email" type="email" class="form__input" placeholder="Email address" required>
            <label for="email" class="form__label">Email address</label>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
