<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="../../assets/img/nat-8.jpg" alt="Tour photo" class="popup__img">
      <img src="../../assets/img/nat-9.jpg" alt="Tour photo" class="popup__img">
    </div>

    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-small">start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read this terms before booking</h3>
      <p class="popup__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis doloremque eos hic nihil! At ipsa nobis ratione. Accusantium alias inventore libero pariatur unde! Autem debitis et quia saepe sequi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores consectetur dolorem magnam quo quod repellat sint suscipit veniam voluptatem? Blanditiis facilis ipsa nam nobis numquam placeat unde voluptatibus. Consequatur?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores necessitatibus sint temporibus ullam! A, aliquam assumenda corporis doloribus eaque eius est molestiae neque officiis, quam quibusdam repudiandae sed suscipit tempora.
      </p>

      <a href="#" class="btn btn--green">Book now</a>
    </div>
  </div>
</div>
