<section class="section-stories">
  <div class="u-center-text u-margin-top-big">
    <h2 class="heading-secondary">
      we make people genuinely happy
    </h2>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../assets/img/nat-8.jpg" alt="person on a tour" class="story__img">
        <figcaption class="story__caption">Mary Smith</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever with my family</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto aut consequuntur deserunt dignissimos eum id iusto nam neque nesciunt numquam perferendis reiciendis repellat rerum, saepe sunt tempore veritatis voluptas.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../assets/img/nat-9.jpg" alt="person on a tour" class="story__img">
        <figcaption class="story__caption">Hydee Noble</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">Wow! my life is completely different now </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto aut consequuntur deserunt dignissimos eum id iusto nam neque nesciunt numquam perferendis reiciendis repellat rerum, saepe sunt tempore veritatis voluptas.
        </p>
      </div>
    </div>
  </div>

  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div>

</section>
